$portfolioColors:(beigeBrown:#D1C1A8,
    lightGrey: #8C8C8C,
    darkGrey:#222222,
    whiteGrey: #FCFCFC,
    wineRed: #B54343,
    myPurple: #7843B5,
    lightGreyLightened: lighten(lightGrey, 30%));

$portfolioFonts:(runningHand: 'QEDonaldRoss',
    menuBar: 'IM Fell English',
    writingInfo: 'EB Garamond'
);


@function color($colorName) {
    @return map-get($portfolioColors, $colorName)
}

;

@function fonts($fontName) {
    @return map-get($portfolioFonts, $fontName)
}

;

h1 {
    font-family: fonts(runningHand);
}

h2 {
    font-family: fonts(menuBar), serif;
}

h3 {
    font-family: fonts(writingInfo), serif;
}