$portfolioColors:(beigeBrown:#D1C1A8,
    lightGrey: #8C8C8C,
    darkGrey:#222222,
    whiteGrey: #FCFCFC,
    wineRed: #B54343,
    myPurple: #7843B5,
    lightGreyLightened: lighten(lightGrey, 30%),
    darkBrown: #574343);

$portfolioFonts:(runningHand: 'QEDonaldRoss',
    menuBar: 'IM Fell English',
    writingInfo: 'EB Garamond'
);


@function color($colorName) {
    @return map-get($portfolioColors, $colorName)
}

;

@function fonts($fontName) {
    @return map-get($portfolioFonts, $fontName)
}

;

body,
html {
    height: 100%;
    margin: 0;
    font-family: fonts(writingInfo), serif;
    font-weight: 600;
    font-size: 14px;
    color: color(darkBrown);
    background: color(whiteGrey);
    -webkit-text-size-adjust: 100%; //fix for iOS

    #landingPage {
        background: url(/public/pic/nature-forest-trees-fog.jpeg);
        width: 100vw;
        min-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        .content {
            width: 100%;
            position: absolute;
            top: 20vh;
            

            #topText {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
            }

            #middleText {
                display: flex;
                justify-content: space-around;
                padding: 10px;
            }

            #bottomText {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
            }
        }

    }

    #aboutMePage {
        width: 100vw;
        min-height: 100%;
    }

    #myWorksPage {
        width: 100vw;
        min-height: 100%;
        background: color(wineRed);
    }

    #contactMePage {
        width: 100vw;
        min-height: 100%;
        background: color(myPurple);
    }





}