body {
    font-family: $font-primary;
    color: $color-grey-dark;
    line-height: 1.7;
}

.header {
    color: $color-grey-light;
}

.heading-primary {
    color: inherit;
    backface-visibility: hidden;
    margin-bottom: 8rem;

    &--main {
        display: block;
        font-family: $font-secondary;
        font-size: 13rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: .4rem;
    }
}

.heading-secondary {
    font-size: 5rem;
    text-transform: uppercase;
}

.introduction {
    &__paragraph {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        margin-left: 1.5rem;
    }
}

.myworks {
    &__card--title {
        font-size: 2.6rem;
        font-weight: 500;
    }

    &__description{
        color: #fff;
        font-size: 1.8rem;      
    }
}

.fantomcard__title {
    font-size: 2.4rem;
    font-weight: 500;
}

.footer{
    color: $color-grey-light;

    &__title{
        font-family: $font-secondary;
        font-size: 4rem;
        font-weight: 500;
    }

    &__location{
        font-size: 1.8rem;
    }
}