*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #FAF7F4; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #4F4F78;
  color: #222222; }

body {
  font-family: "EB Garamond", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #222222; }

.header {
  color: #FAF7F4; }

.heading-primary {
  color: inherit;
  backface-visibility: hidden;
  margin-bottom: 8rem; }
  .heading-primary--main {
    display: block;
    font-family: "Dawning of a New Day", sans-serif;
    font-size: 13rem;
    font-weight: 400;
    margin-bottom: 2.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .4rem; }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase; }

.introduction__paragraph {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.5rem; }

.myworks__card--title {
  font-size: 2.4rem;
  text-shadow: none;
  font-weight: 500; }

.fantomcard__title {
  font-size: 2.4rem;
  text-shadow: none;
  font-weight: 500; }

.myworks__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.myworks__card {
  background-color: #ABABC9;
  width: 30rem;
  height: 30rem;
  margin: 2.5rem 5rem;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  .myworks__card--title {
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 1rem 1rem; }
  .myworks__card--img {
    width: 100%;
    height: 80%;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
    transform: translateY(5rem);
    background-size: cover;
    background-blend-mode: screen; }

.heading-secondary {
  text-align: center;
  margin: 6rem; }

.card-1 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/nexter-largest.jpeg); }

.card-2 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/trillo-largest.jpg); }

.card-3 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/natours-largest.jpg); }

.card-4 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/bookstorewebapp-largest.jpg); }

.card-5 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/itgigls-largest.jpg); }

.card-6 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/governmentinfaces-largest.jpg); }

.card-7 {
  background-image: linear-gradient(to bottom, #4f4f78, rgba(79, 79, 120, 0.9)), url(../img/soccerleague-largest.jpg); }

.fantomcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .fantomcard__title {
    margin-bottom: 3rem; }
  .fantomcard__icon {
    fill: #222222;
    width: 9rem;
    height: 9rem; }
    .fantomcard__icon--border {
      width: 15rem;
      height: 15rem;
      border: 7px solid #222222;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }

.introduction__box--blue {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #9EB5D1; }

.introduction__box--purple {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #ABABC9;
  padding: 7.5rem; }

.introduction__img--1 {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  display: block;
  border-radius: 100%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.introduction__borderimg {
  background-image: linear-gradient(to bottom, rgba(79, 79, 120, 0.7), rgba(79, 79, 120, 0.5)), url(/img/magic-flowers-largest.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  width: 100%; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .introduction__borderimg {
      -webkit-clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
      height: 50vh; } }

.container {
  display: grid;
  grid-template-rows: [header-start] min-content [header-end introduction-start] min-content [introduction-end myworks-start] 99vh [myworks-end contactme-start] 99vh [contactme-end]; }

.introduction {
  height: 100vh;
  grid-row: introduction-start / introduction-end;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* &__borderimg {
        grid-column: 1 / -1;
        grid-row: 9 / -1;
    } */ }
  .introduction__box--blue {
    grid-column: 2 / span 3;
    grid-row: 4 / span 4; }
  .introduction__box--purple {
    grid-column: 6 / span 7;
    grid-row: 2 / span 5; }
  .introduction__img {
    grid-column: 3 / span 3;
    grid-row: 2 / span 4; }

.header {
  background-image: linear-gradient(to bottom, rgba(79, 79, 120, 0.7), rgba(79, 79, 120, 0.5)), url(/img/magic-flowers-largest.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 88%, 0% 100%);
      height: 99vh; } }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__icon-box {
    display: flex;
    justify-content: center; }
  .header__icon {
    fill: #FAF7F4;
    width: 9rem;
    height: 9rem; }
