.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    @include flowerBackground (unset);
    background-attachment: fixed;

    &__contactdetails {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;

        @include mediaQueryChange(phone) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        padding-bottom: 4rem;
    }

    &__icon {
        fill: $color-grey-light;
        height: 4rem;
        width: 4rem;

        &:hover {
            transform: translateY(-2px);
            fill: url(#svg-gradient);
        }

        &:active {
            transform: translateY(0px);
        }
    }

    &__location {
        display: flex;
    }
}

.element {
    display: flex;
    height: 100%;

    &:not(:last-child) {
        margin-right: 5rem;
    }

    @include mediaQueryChange(phone) {
        &:not(:last-child) {
            margin-right: 0;
        }

        margin: 2.5rem 0;
    }
}

.town {
    align-self: flex-end;
    margin-left: 1rem;
}