.header {
    @include flowerBackground {
        background-position: center;
    }

    // clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 88%, 0% 100%);
        height: 99vh;
    }

    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__icon-box {
        @include centeredFlex;
    }

    &__icon {
        fill: $color-grey-light;
        width: 9rem;
        height: 9rem;

        @include mediaQueryChange (tab-land) {
            width: 7rem;
            height: 7rem;
        }

        @include mediaQueryChange(tab-port) {
            width: 6rem;
            height: 6rem;
        }

        @include mediaQueryChange(tab-port) {
            width: 5rem;
            height: 5rem;
        }
    }
}