.introduction {
    margin-top: 2rem;

    &__box {
        &--brown {
            @include boxProperties;
            background-color: $color-secondary;

        }

        &--blue {
            @include boxProperties;
            background-color: $color-primary-blue;
        }

        &--purple {
            @include boxProperties;
            background-color: $color-primary-purple-light;

            @include centeredFlex;
            flex-direction: column;
            padding: 5rem;
        }

    }

    &__img {
        &--1 {
            width: 25vw;
            height: 25vw;
            //object-fit will work if you set the width and height manuall:
            object-fit: cover;

            display: block;
            border-radius: 100%;
            box-shadow: $shadow-box;
            z-index: 2;
        }
    }

    &__borderimg {
        @include flowerBackground {
            background-position: bottom;
        }

        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(50% 70%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 70%, 100% 0, 100% 100%, 0 100%, 0 0);
            height: 25vh;
        }
    }
}