.introduction {
    &__box {
        &--blue {
            @include boxProperties;
            background-color: $color-primary-blue;

        }

        &--purple {
            @include boxProperties;
            background-color: $color-primary-purple-light;
            padding: 11rem;
         

        }
    }

    &__img {
        &--1 {
            width: 20vw;
            height: 20vw;
            //object-fit will work if you set the width and height manuall:
            object-fit: cover;
            display: block;
            border-radius: 100%;
            box-shadow: $shadow-box;
        }
    }
}