.heading-secondary {
    text-align: center;
    margin: 6rem;
}

.myworks {
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__card {
        position: relative;
        width: 30rem;
        height: 30rem;
        margin: 5rem 5rem;
        border-radius: 3px;
        background-color: $color-primary-purple-light;
        box-shadow: $shadow-box-2;

        &--title {
            position: absolute;
            width: 100%;
            z-index: 10;
            text-align: center;
            padding: 1rem 1rem;
        }

        &--img {
            transition: all .5s;
        }
    }

    &__description {
        position: absolute;
        height: 11rem;
        width: 100%;
        bottom: 0;
        padding: 0 1rem;
        text-align: center;
        opacity: 0;
        z-index: -1;
        transition: all .5s;
        transform: translateY(70%);

        @media (hover: none) {
            z-index: 15;
            opacity: 1;
            transform: translateY(-100%);
        }
    }

    &__card:hover &__card--img {
        clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
        filter: blur(3px) brightness(35%);
        transition: all .5s;
    }

    &__card:hover &__description {
        z-index: 15;
        opacity: 1;
        transform: translateY(-100%);
    }
}

.card-1 {
    @include cardBackgroundImg(url(../img/nexter-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/nexter-res-phone.jpg));
    }
}

.card-2 {
    @include cardBackgroundImg(url(../img/trillo-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/trillo-res-phone.jpg));
    }
}

.card-3 {
    @include cardBackgroundImg(url(../img/natours-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/natours-res-phone.jpg));
    }
}

.card-4 {
    @include cardBackgroundImg(url(../img/bookstorewebapp-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/bookstorewebapp-res-phone.jpg));
    }
}

.card-5 {
    @include cardBackgroundImg(url(../img/itgigls-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/itgigls-res-phone.jpg));
    }
}

.card-6 {
    @include cardBackgroundImg(url(../img/governmentinfaces-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/governmentinfaces-res-phone.jpg));
    }
}

.card-7 {
    @include cardBackgroundImg(url(../img/soccerleague-res.jpg));

    @include mediaQueryChange(phone) {
        @include cardBackgroundImg(url(../img/soccerleague-res-phone.jpg));
    }
}

.fantomcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: 3rem;
    }

    &__icon {
        fill: $color-grey-dark;
        width: 9rem;
        height: 9rem;
    }


    &:hover {
        cursor: pointer;
        box-shadow: $shadow-box-3;
        transform: translateY(-2px);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    &:active {
        box-shadow: $shadow-box-1;
        transform: translateY(0px);
    }

    &:hover &__icon {
        fill: url(#svg-gradient);
    }

    &--link {
        text-decoration: none;

        @include mediaQueryChange(phone) {
            display: none;
        }
    }
}