.myworks{
    border: 3px solid orangered;
  
    &__cards{
        border: 3px solid blueviolet;
        width: 100%;
         

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    &__card{
        border: 1px solid yellowgreen;
        background-color: $color-primary-purple-light;
        width: 30rem;
        height: 30rem;
        margin: 2.5rem 5rem;

        &--img{
            width: 100%;
        }
    }
}
.heading-secondary{
    text-align: center;
    margin: 5rem;
}