@mixin boxProperties($box-color) {
    object-fit: cover;
    display: block;
    box-shadow: $shadow-box-1;
    border-radius: 3px;
    background-color: $box-color;
}

@mixin backgroundImage($url) {
    background-image: linear-gradient(to bottom,
            rgba($color-primary-purple-dark, .7),
            rgba($color-primary-purple-dark, .5)),
        url($url);
}

@mixin flowerBackground($bckgrposition) {
    background-image: linear-gradient(to bottom,
            rgba($color-primary-purple-dark, .7),
            rgba($color-primary-purple-dark, .5)),
        url(../../img/theme/magic-flowers-desktop.jpg);
    background-size: cover;
    position: relative;
    background-position: $bckgrposition;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to bottom,
                rgba($color-primary-purple-dark, .7),
                rgba($color-primary-purple-dark, .5)),
            url(../../img/theme/magic-flowers-largest.jpg);
    }

    @media only screen and (max-width: 75em) {
        background-image: linear-gradient(to bottom,
                rgba($color-primary-purple-dark, .7),
                rgba($color-primary-purple-dark, .5)),
            url(../../img/theme/magic-flowers-tab-lan.jpg);
    }

    @media only screen and (max-width: 56.25em) {
        background-image: linear-gradient(to bottom,
                rgba($color-primary-purple-dark, .7),
                rgba($color-primary-purple-dark, .5)),
            url(../../img/theme/magic-flowers-tab-por.jpg);
    }

    @media only screen and (max-width: 37.5em) {
        background-image: linear-gradient(to bottom,
                rgba($color-primary-purple-dark, .7),
                rgba($color-primary-purple-dark, .5)),
            url(../../img/theme/magic-flowers-tab-phone.jpg);
    }
}

/* @mixin cardBackgroundImg($imageurl) {
    width: 100%;
    height: 80%;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
    transform: translateY(5rem);
    background-size: cover;
    background-blend-mode: screen;
    background-image: linear-gradient(to bottom,
            rgba($color-primary-purple-dark, 1.5),
            rgba($color-primary-purple-dark, .9)), $imageurl;

    @media (hover: none) {
        filter: blur(3px) brightness(60%);
        clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
} */

@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-content: center;
}

// MEDIA QUERY MANAGER
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
1200-1800px: is where our normal styles apply  
1800px +:   Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin mediaQueryChange($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}