// COLOR VARIABLES:
$color-primary-purple-dark: #4F4F78;
$color-primary-purple-light: #ABABC9;
$color-primary-blue: #9EB5D1;

$color-secondary: #B28451;

$color-grey-light: #FAF7F4;

$color-grey-dark: #222222;


// FONT VARIABLES:
$font-primary: 'EB Garamond',
sans-serif;
$font-secondary: 'Dawning of a New Day',
sans-serif;

$shadow-primary: .5rem 1rem 2rem rgba(#000, .5);
$shadow-box: 0 2rem 5rem rgba(0, 0, 0, 0.2);